* {
  box-sizing: border-box;
}
html {
  font-size: 4vh;
  background-color: #404040;
  color: #fff;
}
html,
body {
  height: 100%;
}
body {
  background-image: url('img/background.webp');
  background-size: cover;
}
#root {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  height: auto;
}
.frame {
  border-width: 2px;
  border-style: solid;
  padding: 0.5rem;
  background: hsl(0, 0%, 40%);
  border-top-color: hsl(0, 0%, 50%);
  border-left-color: hsl(0, 0%, 45%);
  border-right-color: hsl(0, 0%, 35%);
  border-bottom-color: hsl(0, 0%, 30%);
  opacity: 0.9;
}
.frame > div {
  border-bottom-color: hsl(0, 0%, 50%);
  border-right-color: hsl(0, 0%, 45%);
  border-left-color: hsl(0, 0%, 35%);
  border-top-color: hsl(0, 0%, 30%);
  border-width: 2px;
  border-style: solid;
}
.playfield {
  background-color: #303030;
  width: min-content;
  margin: auto;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
.row {
  display: flex;
  width: min-content;
  margin: auto;
}
.row.clearing div {
  animation: blink 0.125s linear infinite;
}
.row div {
  width: 1rem;
  height: 1rem;
}

.next-tetromino {
  padding: 0.5rem;
  background: #303030;
}
.next-tetromino {
  height: 2rem;
  width: 3rem;
}
.next-tetromino .row div {
  width: 0.5rem;
  height: 0.5rem;
  border-width: 1px;
  border-radius: 1px;
}
.next-tetromino:nth-child(2) div,
.next-tetromino:nth-child(3) div {
  opacity: 0.5;
}

.row .I,
.row .O,
.row .Z,
.row .T,
.row .S,
.row .L,
.row .J {
  border-width: 2px;
  border-style: solid;
  border-radius: 2px;
}
.row div.I {
  background: hsl(180, 100%, 25%);

  border-top-color: hsl(180, 100%, 35%);
  border-left-color: hsl(180, 100%, 30%);
  border-right-color: hsl(180, 100%, 20%);
  border-bottom-color: hsl(180, 100%, 15%);
}
.row div.O {
  background: hsl(51, 100%, 40%);
  border-top-color: hsl(51, 100%, 50%);
  border-left-color: hsl(51, 100%, 45%);
  border-right-color: hsl(51, 100%, 35%);
  border-bottom-color: hsl(51, 100%, 30%);
}
.row div.T {
  background: hsl(300, 100%, 25%);
  border-top-color: hsl(300, 100%, 35%);
  border-left-color: hsl(300, 100%, 30%);
  border-right-color: hsl(300, 100%, 20%);
  border-bottom-color: hsl(300, 100%, 15%);
}
.row div.S {
  background: hsl(120, 100%, 25%);
  border-top-color: hsl(120, 100%, 35%);
  border-left-color: hsl(120, 100%, 30%);
  border-right-color: hsl(120, 100%, 20%);
  border-bottom-color: hsl(120, 100%, 15%);
}
.row div.Z {
  background: hsl(0, 100%, 40%);
  border-top-color: hsl(0, 100%, 50%);
  border-left-color: hsl(0, 100%, 45%);
  border-right-color: hsl(0, 100%, 35%);
  border-bottom-color: hsl(0, 100%, 30%);
}
.row div.J {
  background: hsl(230, 100%, 40%);
  border-top-color: hsl(230, 100%, 50%);
  border-left-color: hsl(230, 100%, 45%);
  border-right-color: hsl(230, 100%, 35%);
  border-bottom-color: hsl(230, 100%, 30%);
}
.row div.L {
  background: hsl(30, 100%, 40%);
  border-top-color: hsl(30, 100%, 50%);
  border-left-color: hsl(30, 100%, 45%);
  border-right-color: hsl(30, 100%, 35%);
  border-bottom-color: hsl(30, 100%, 30%);
}
.row .ghost-piece {
  width: calc(1rem - 2px);
  height: calc(1rem - 2px);
  margin: 1px;
  border: dashed 1px #fff;
}
h1 {
  font-size: 0.5rem;
  text-align: center;
  padding: 0;
  margin: 0;
}
.lines {
  background: #303030;
  text-align: right;
  font-size: 0.5rem;
  padding: 4px;
}
