* {
  box-sizing: border-box;
}
html {
  font-size: 4vh;
  background-color: #404040;
  color: #fff;
}
html,
body {
  height: 100%;
  font-family: 'Courier New', Courier, monospace;
}
body {
  background-image: url('img/background.webp');
  background-size: cover;
  display: flex;
}
#root {
  display: flex;
  margin: auto;
}
$frame-base-color: rgba(64, 64, 64, 0.7);
$background-color: rgba(0, 0, 0, 0.5);

.frame {
  border-width: 2px;
  border-style: solid;
  padding: 0.5rem;
  background: $frame-base-color;
  border-top-color: lighten($frame-base-color, 10%);
  border-left-color: lighten($frame-base-color, 5%);
  border-right-color: darken($frame-base-color, 5%);
  border-bottom-color: darken($frame-base-color, 10%);
  background-clip: padding-box;
  .frame-content {
    border-bottom-color: lighten($frame-base-color, 10%);
    border-right-color: lighten($frame-base-color, 5%);
    border-left-color: darken($frame-base-color, 5%);
    border-top-color: darken($frame-base-color, 10%);
    border-width: 2px;
    border-style: solid;
    background-clip: padding-box;
  }
}
main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  .playfield {
    background-color: $background-color;
    width: min-content;
    margin: auto;
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .controls,
  .countdown {
    grid-row: 1/2;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    margin: auto;
    font-size: 1.5rem;
  }
  .controls button {
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
.row {
  display: flex;
  width: min-content;
  margin: auto;
  .I,
  .O,
  .Z,
  .T,
  .S,
  .L,
  .J {
    border-width: 2px;
    border-style: solid;
    border-radius: 2px;
  }
  @mixin brick($base-color) {
    background: $base-color;
    border-top-color: lighten($base-color, 10%);
    border-left-color: lighten($base-color, 5%);
    border-right-color: darken($base-color, 5%);
    border-bottom-color: darken($base-color, 10%);
  }

  div.I {
    @include brick(hsl(180, 100%, 25%));
  }
  div.O {
    @include brick(hsl(51, 100%, 40%));
  }
  div.T {
    @include brick(hsl(300, 100%, 40%));
  }
  div.S {
    @include brick(hsl(120, 100%, 25%));
  }
  div.Z {
    @include brick(hsl(0, 100%, 40%));
  }
  div.J {
    @include brick(hsl(230, 100%, 40%));
  }
  div.L {
    @include brick(hsl(30, 100%, 40%));
  }
}
.row.clearing div {
  animation: blink 0.125s linear infinite;
}
.playfield .row {
  &:nth-child(1) {
    display: none;
  }

  &:nth-child(2) div {
    height: 0.5rem;
    border-top: none;
  }
  &:nth-child(2) .ghost-piece {
    height: calc(0.5rem - 2px);
    border-top: none;
  }
  div {
    width: 1rem;
    height: 1rem;
  }
  .ghost-piece {
    width: calc(1rem - 2px);
    height: calc(1rem - 2px);
    margin: 1px;
    border: dashed 1px #fff;
  }
}
.frame-content {
  width: calc(3rem + 4px);
  &.next-tetrominos {
    height: calc(6rem + 4px);
  }
  &.hold {
    height: calc(2rem + 4px);
  }
}
.small-tetromino {
  padding: 0.5rem;
  height: 2rem;
  width: 3rem;
  .row div {
    width: 0.5rem;
    height: 0.5rem;
    border-width: 1px;
    border-radius: 1px;
  }
  &:nth-child(2) div,
  &:nth-child(3) div {
    opacity: 0.8;
  }
}

h1 {
  font-size: 0.5rem;
  text-align: center;
  padding: 0;
  margin: 0.125rem 0;
}
.lines {
  text-align: right;
  font-size: 0.5rem;
  padding: 4px;
}
