html {
  font-size: 16px;
}
.row {
  display: flex;
}
.row div {
  width: 1.5rem;
  height: 1.5rem;
  border: solid 1px black;
}
.row div.I {
  background: cyan;
}
.row div.O {
  background: yellow;
}
.row div.T {
  background: purple;
}
.row div.S {
  background: green;
}
.row div.Z {
  background: red;
}
.row div.J {
  background: blue;
}
.row div.L {
  background: orange;
}
